fastapi[standard]
pydantic
pydantic-settings
motor
python-multipart
bcrypt
pyjwt
opencv-python-headless
numpy
pytest
pytest-asyncio
httpx
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
scikit-learn
xgboost
pandas
joblib